//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 27 17:18:13 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LD6" LOCATE = SITE "P3" LEVEL 1;
COMP "LD0" LOCATE = SITE "P15" LEVEL 1;
COMP "clk" LOCATE = SITE "P54" LEVEL 1;
COMP "LD7" LOCATE = SITE "P2" LEVEL 1;
COMP "LD1" LOCATE = SITE "P14" LEVEL 1;
COMP "LD2" LOCATE = SITE "P8" LEVEL 1;
COMP "LD3" LOCATE = SITE "P7" LEVEL 1;
COMP "LD4" LOCATE = SITE "P5" LEVEL 1;
COMP "C1" LOCATE = SITE "P69" LEVEL 1;
PIN C1_pin<0> = BEL "C1" PINNAME PAD;
PIN "C1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "C2" LOCATE = SITE "P48" LEVEL 1;
PIN C2_pin<0> = BEL "C2" PINNAME PAD;
PIN "C2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LD5" LOCATE = SITE "P4" LEVEL 1;
NET "C1_BUFGP/IBUFG" BEL "C1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "C2_BUFGP/IBUFG" BEL "C2_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

